body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
    margin-top: 50px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #444;
}

p {
    margin: 0 0 20px 0;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

a {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px 10px;
}